<ul *ngIf="paginationConfig" tshSuppliersPagination
    [leftEnd]="paginationConfig.leftEnd"
    [rightEnd]="paginationConfig.rightEnd">
  <li *ngIf="paginationConfig.left" (click)="onLeftArrowClick()">
    <
  </li>
  <ng-container *ngFor="let link of paginationConfig.links | keys; let last = last; let first = first;">
    <li (click)="pageChanged(link.value)"
        [ngClass]="{'active': paginationConfig.current === link.key }" #tshPaginationItem>{{+link.key + 1}}
    </li>
  </ng-container>
  <li *ngIf="paginationConfig.right"(click)="onRightArrowClick()">
    >
  </li>
</ul>
