ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 19px;
  display: flex;
  vertical-align: center;
  font-weight: 700;
  li {
    margin-top: 0px;
    margin-left: 4px;
    background: linear-gradient(#f9f9f9, #e9e9e9);
    height: 25px;
    line-height: 21px;
    width: 26px;
    text-align: center;
    font-size: 12px;
    vertical-align: baseline;
    color: #717171;
    border: 1px solid #707070;
    border-radius: 4px;
  }

  .active {
    border-color: #505050;
    background: #606060;
    box-shadow: inset 0 0 3px #000000;
    color: white
  }
}



@media screen and (max-width: 650px) {
  ul {
    li {
      width: 15px;

    }

    li.arrow {
      div {
        left: 4px;
      }
    }
  }
}
