<div class="supplier-row" [ngClass]="{'odd-row': odd}">
  <div class="name">{{supplier.payment_supplier}}</div>
  <div class="pound-rating"><tsh-pound-rating [rating]="supplier.payment_cost_rating"></tsh-pound-rating></div>
  <div class="reference">{{supplier.payment_ref}}</div>
  <div class="value">&pound;{{supplier.payment_amount}}</div>
</div>
