.supplier-row {
  width: 100%;
  font-size: 12px;

  > * {
    text-align: center;
  }

  display: flex;
  min-height: 60px;
  color: #555555;
  white-space: normal;
  .name, .pound-rating, .reference, .value {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .name, .pound-rating, .reference {
    border-right: 1px solid #E0E0E0;
  }

  .reference, .value {
    flex-basis: 12%;
  }

  .name {
    padding-left: 19px;
    justify-content: flex-start;
    flex-basis: 55%;
    flex-shrink: 3;
  }
  .pound-rating {
    flex-basis: 22%;
  }

}

.odd-row {
  background-color: #F7F7F7;
}

@media screen and (max-width: 650px) {
  .supplier-row {
    word-break: break-word;
    hyphens: auto;

    .name, .pound-rating, .reference, .value {
      flex-basis: 25%;
    }

    .name {
      text-align: center;
      padding: 4px;
      height: auto;
    }

  }
}
