.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  height: auto;
  transform: translateY(-100vh)
}

.open {
  transform: translateY(0)
}

@media (min-width: 650px) {
  .modal {
    width: 300px;
    left: calc(50% - 150px);
  }
}



