<div class="suppliers-container">
  <header>
    <div class="title">{{title}}</div>
    <div class="subtitle">{{subtitle}}</div>
    <div class="error" *ngIf="error">{{error}}</div>
  </header>
  <tsh-search-bar (onSearchClicked)="getSuppliersWithParams($event)"></tsh-search-bar>
  <ng-container *ngIf="suppliers; else loadingError">
    <tsh-supplier-list [suppliers]="suppliers"></tsh-supplier-list>
  </ng-container>
  <tsh-suppliers-pagination [paginationConfig]="paginationConfig"
                            (onPaginatorClicked)="getOtherPageOfSuppliersList($event)"
                            (leftArrowClicked)="getPreviousPageData()"
                            (rightArrowClicked)="getNextPageData()">
  </tsh-suppliers-pagination>
  <ng-template #loadingError>
    Trwa ładowanie, prosimy o chwilę cierpliwośći.
  </ng-template>
</div>
