.suppliers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 994px;
  padding: 17px;
  box-shadow: 0 0 0 7px rgba(0,0,0,0.05);
  border-radius: 7px;
  border: 1px solid rgb(200,200,200);
}

header {
  height: 122px;
  border-bottom: #E0E0E0 1px solid;
  margin-top: 17px;

  .title, .subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  .title {
    height: 67px;
    color: #2288B7;
    font-size: 60px;
    font-weight: lighter;
  }
  .subtitle {
    margin-top: 9px;
    height: 19px;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 650px) {

  .suppliers-container{
    border: 0;
  }
  header {
    height: auto;
    .title {
      height: auto;
      font-size: 30px;
    }
    .subtitle {
      height: auto;
      margin-bottom: 10px;
      font-size: 15px;
      text-align: center;
    }
  }
}


.error{
  font-size : 25px;
  font-weight: 500;
  color: #ff4344;
  text-align: center;
}
