<div class="pound-rating" [ngStyle]="additionalStyles">
  <span *ngFor="let rating of ratingArray"  class="pound-sign" [ngClass]="{'checked': rating}">&pound;</span>
  <span class="mobile-rating">{{getMobileRating()}}</span>
</div>
