:host{
  width: 100%;
}

.pound-rating{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 18.5px;
}

.pound-sign{
  box-sizing: border-box;
  padding: 2px;
  font-size: 15px;
  font-weight: bolder;
  width: 25.5px;
  height: 25.5px;
  border-radius: 50%;
  background: linear-gradient(white, #DADADA);
  border: 1px solid #707070;
  margin-left: 4.5px;
}

.checked{
  color: white;
  background: linear-gradient(#66c7e8, #498ecd);
  opacity: 0.9;
}


.mobile-rating{
  display: none
}

@media screen and (max-width: 650px) {
  .pound-sign{
    display: none
  }

  .pound-rating{
    justify-content: center;
  }

  .mobile-rating{
    display: inline;
    text-align: center;
  }
}
