.modal-hr {
  margin-bottom: 10px;
}

.modal-item-title, .modal-item {
  margin: 10px 0;
}

.modal-item {
  margin-left: 120px;
  font-weight: bold;
}

:host{
  ::ng-deep{
    .pound-sign{
      padding-left: 8px;
    }
  }
}
