<h3>{{supplier?.payment_supplier}}</h3>
<hr class="modal-hr"/>
<div class="modal-item-title">Pound rating:</div>
<tsh-pound-rating [additionalStyles]="poundRatingStyles"
                  [rating]="supplier?.payment_cost_rating">
</tsh-pound-rating>
<div class="modal-item-title">Reference:</div>
<div class="modal-item">{{supplier?.payment_ref}}</div>
<div class="modal-item-title">Amount</div>
<div class="modal-item">{{supplier?.payment_amount}}</div>
