<ng-container *ngIf="supplier" class="modal-container">
  <tsh-modal>
    <tsh-supplier-modal-content [supplier]="supplier"></tsh-supplier-modal-content>
  </tsh-modal>
</ng-container>
<ng-container *ngIf="suppliers">
  <div class="supplier-list">
    <div class="list-header">
      <div class="name">Supplier</div>
      <div class="pound-rating">Pound Rating</div>
      <div class="reference">Reference</div>
      <div class="value">Value</div>
    </div>
    <ng-container *ngFor="let supplier of suppliers; let odd = odd">
      <hr>
      <tsh-supplier [supplier]="supplier" [odd]="odd" [poundRating]="supplier.payment_cost_rating"
                    (click)="paymentSelected(supplier)"></tsh-supplier>
    </ng-container>
  </div>
</ng-container>
