:host {
  width: 100%;
}

.supplier-list {
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}

.list-header {
  > * {
    text-align: center;
  }

  background-color: #E9ECEC;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  color: #666666;
  font-weight: bolder;
  .name {
    flex-basis: 55%;
    flex-shrink: 3;
    text-align: left;
    padding-left: 19px;
  }
  .pound-rating {
    flex-basis: 21%;
  }
  .reference, .value {
    flex-basis: 12%;
  }

}

hr {
  border: 0;
  //Here are 3 properties, to be supported in all major browsers
  border-top: 1px solid #E0E0E0;
  background-color: #E0E0E0;
  color: #E0E0E0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .list-header {
    .name, .pound-rating, .reference, .value {
      flex-basis: 25%;
    }

    .name {
      padding-left: 0;
      text-align: center;
    }
  }
}
