* {
  font-size: 12px;
}

.search-bar {
  > * {
    margin-left: 9px;
  }
  margin-top: 17px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 30px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  flex-shrink: 2;
  padding-left: 10px;
  width: 271px;
  color: #999999;
  &::placeholder {
    color: #999999;
  }
}

.select-input-container {
  background-color: #EAECED;
  border-radius: 4px;
  padding: 6px;
  width: 160px;
  select {
    width: 100%;
    font-size: 12px;
    color: black;
  }
}

.btn {
  width: 73.25px;
  height: 30px;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.4s;
  font-weight: 600;
}

.btn-reset {
  background: linear-gradient(rgba(196, 196, 196, 0.22), rgba(0, 0, 0, 0.22));
  color: #494949;

  &:hover {
    opacity: 0.7;
  }
}

.btn-search {
  color: #FFFFFF;
  background: linear-gradient(#6BA1F3, #1F76F0);
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 650px) {
  .search-bar {
    width: 300px;
    flex-wrap: wrap;
    > * {
      margin-left: 0;
    }
    .select-input-container {
      width: 100%;
      margin-top: 10px;
      select {
        width: 100%;
      }

    }
    .btn {
      margin-top: 10px;
      margin-left: 5px !important;
    }

  }

}
