<form class="search-bar" [formGroup]="searchBarForm" (ngSubmit)="searchWithParams()">
  <input formControlName="query"
         type="text" class="search-input"
         placeholder="Search suppliers"/>
  <div class="select-input-container">
    <select formControlName="rating">
      <option ngValue="">Select pound rating</option>
      <option ngValue="1">1</option>
      <option ngValue="2">2</option>
      <option ngValue="3">3</option>
      <option ngValue="4">4</option>
      <option ngValue="5">5</option>
    </select>
  </div>
  <button class="btn btn-reset" type="button" (click)="resetFilters()">Reset</button>
  <button class="btn btn-search">Search</button>
</form>
